// Font
@font-family: "Montserrat", "Open Sans", "calibri", "arial", sans-serif;

// Colors
@color-accent: #0e75d2;
@color-primary: #002241;
@color-secondary: #00529b;
@color-midnight: #09121a;
@color-red: #e51937;
@color-green: #30a071;
@color-navy: #002241;
@color-navy-dark: #001b34;
@color-white: #ffffff;
@color-black: #000;
@color-gray: #999999;
@color-gray-light: #B3B6B8;

// Elements
@app-background-color: @color-midnight;
@default-color: @color-white;
@anchor-color: @color-accent;
@heading-color: @default-color;

// Transitions
@hover-transition-duration: 400ms;
